@import "tailwindcss";

@theme {
  --color-prima-red: #801607;
  --color-prima-red-100: #f5edec;
  --color-prima-yellow: #efbd00;
  --color-prima-link: #0073ff;
  --font-prima: sans-serif;
}
