@import "tailwindcss";

@theme {
  --color-prima-red: #801607;
  --color-prima-red-100: #f5edec;
  --color-prima-yellow: #efbd00;
  --color-prima-link: #0073ff;
  --font-roboto: 'Roboto', sans-serif;
  --font-roboto-i: 'Roboto Italics';
  --font-robcon: 'Roboto Condensed', sans-serif;
  --font-robconbold: 'Roboto Condensed Bold', sans-serif;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Italics';
  src: url('/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/Roboto/static/Roboto_Condensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed Bold';
  src: url('/fonts/Roboto/static/Roboto_Condensed-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}