@import "tailwindcss";

@theme {
  --color-prima-red: #801607;
  --color-prima-red-100: #f5edec;
  --color-prima-yellow: #efbd00;
  --color-prima-link: #0073ff;
  --font-inc: 'Inconsolata', 'monospace';
  --font-inter: 'Inter', sans-serif;
  --font-jbmono: 'JetBrains_Mono', 'monospace';
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains_Mono';
  src: url('/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
